.lock{
    font-size: 140px;
}
h4{
    color: rgba(0, 0, 0, 0.726);
    font-size: 20px;
}

.form-group span{
position: absolute;
margin-left: 5px;
font-size: 25px;
}

.form-group input {
    padding-left: 40px;
}