
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}



.card-body {
    padding: 20px;  
}

.form-groupp {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form-check-input {
    margin-right: 5px;
}
.card-header {
    display: flex;
    align-items: center;
}
.card-header img{
    width: 100px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    max-height: 100px; /* Set your desired max height */

}