<div class="card mb-4" style="margin-top: 10px;">
    <div class="card-img-wrapper">
        <img  [src]="member.photoUrl ? member.photoUrl : '../../assets/default.jpg'" class="card-img-top" alt="{{member.knownAs}}">
        <ul class="list-inline memeber-icons animate text-center">
         <li class="list-inline-item"> <button class="btn btn-primary" [routerLink]="['/members', member.knownAs]"><i class="fa fa-user"  ></i></button> </li>
         <li class="list-inline-item"> <button class="btn btn-primary" (click)="addlike(member)"><i class="fa fa-heart" ></i></button> </li>
         <li class="list-inline-item"> <button class="btn btn-primary"><i class="fa fa-envelope" ></i></button> </li>
        </ul>
    </div>
  
    <div class="card-body p-1">
    <h6 class="card-title text-center mb-1" > <i class="fa fa-user mr-2" ></i>
     {{member.knownAs}}
    </h6>
    <div class="text-center">
      <div *ngIf="isOnline" class="text-center">
        <span>Online</span>
        <span class="status-circle online"></span>
      </div>
      <div *ngIf="!isOnline" class="text-center">
        <span>Offline</span>
        <span class="status-circle offline"></span>
      </div>
    
    </div>
   
      <p class="card-text text-center text-muted">{{member.city}}</p>
    </div>
  </div>
  
  <div>
  
    <div *ngIf="receivedMessage">Received: {{ receivedMessage }}</div>
  </div>