.dropdown-menu a{
    cursor: pointer;
}
.dropdown-menu {
    margin-left: -95px;
    margin-top: 20px;
}

.dropdown-toggle {
    cursor: pointer;
  
}
.dropdown img{
    width: 50px;
    border-radius: 50%;
    margin-right: 16px;
}

.loginbtn .log1{
    margin-right: 15px;
}

.loginbtn .log2{
    margin-right: 12px;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }
  
