<nav class="navbar navbar-light bg-dark top-fixed" style="z-index: 10000;">
    <a class="navbar-brand text-white"><img  alt=""> <span  class="ml-2">My-App</span></a>
    <form class="form-inline">
      
      <div *ngIf="!loggedin()">
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" >login</button>
       <button class="btn btn-outline-success my-2 my-sm-0 ml-2"  routerLink="/register">Register</button>
      </div>

      <div *ngIf="loggedin()"  class="dropdown mr-5" dropdown>
        <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
            Welcome {{loggedinUser}}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
            <a (click)='onLogout()'  class="dropdown-item">
              <i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
    </form>
  </nav>
