
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Reset Password</div>
          
          <div class="text-center mt-3">
            <h3>Set up your password</h3>
          </div>
          <div class="text-center" >
            <h4>Enter a new password for your account</h4>
          </div>
        
          <div class="card-body">
            <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()" >   
                <div class="bb">
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-valid': newPassword.valid && newPassword.touched }">
                        <span *ngIf="!newPassword.valid && (newPassword.touched || userSubmitted)" class="error-block">
                            <!-- <span *ngIf="password.hasError('required')">
                              Please provide password
                            </span> -->
                            <div *ngIf="newPassword.hasError('pattern')" class="pos">
                              
                               <div class="ps">
                                <div class="losange"></div>
                                Password should be at least: 
                                <ul>
                                    <li>8 characters</li>
                                    <li> long and contain letters</li>
                                    <li> contain numbers</li>
                                    <li>at least one special character ($#!%)</li>
                                </ul>
                               </div>  
                            </div>
                          </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="confirmNewPassword"  [ngClass]="{
                            'is-invalid': confirmNewPassword.touched && registerationForm.hasError('mismatch'),
                            'is-valid': confirmNewPassword.valid && registerationForm.hasError('mismatch') !== true
                         }">
                        <!-- <div *ngIf="confirmPassword.touched && registerationForm.hasError('mismatch')" class="invalid-feedback">
                          Passwords do not match
                        </div>         -->
                    </div>
                </div>
       
               
             
              <div class="form-group text-center">
                <button type="submit"  class="btn btn-primary mt-3 btn-lg "[disabled]="!registerationForm.valid">Set new Password</button>
                <!-- <p-progressSpinner  ariaLabel="loading" /> -->


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



