.row {
    display: flex;
  }
  
  .bg-image-section {
    background-image: url('../../../assets/dating.jpg');
    background-size: cover;
    background-position: center;
  height: 86vh; /* Or any height you prefer */
    
  }
 
  .card {
    height: 99%;
  }
  
  .spann{
  align-items: center;
   display: flex;
  }
  .spann div{
    margin-left: 20px;
  }
  
  .form-group {
    position: relative;
  }
  
  .radios input{
   margin-right: 3px;
  }
  .radios label{
    margin-right: 40px;
  }
  
  .gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header{
    height: 100px;
  }
  
  .ng-touched.ng-valid ~ .valid-feedback {
    display: block;
  }
  
  .ng-touched.ng-invalid ~ .invalid-feedback {
    display: block;
  }
  

  .select-container {
    position: relative;
  }
  
  .select-container select {
    appearance: none; /* Remove default arrow in most browsers */
    -webkit-appearance: none; /* Remove default arrow in Safari and Chrome */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    padding-right: 2rem; /* Space for custom arrow */
    border: 1px solid #ced4da; /* Border style */
    border-radius: 0.25rem; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding inside the select box */
    background-color: none; /* Background color */
    color: #1c78c4; /* Text color */
    font-size: 1rem; /* Font size */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transition effects */
  }
  
  .select-container select:focus {
    border-color: #1c78c4; /* Border color on focus */
    outline: 0; /* Remove outline */
    box-shadow: 0 0 0 0.2rem rgba(120, 171, 226, 0.25); /* Box shadow on focus */
  }
  
  .select-container:after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute; /* Absolute positioning */
    top: 50%; /* Center vertically */
    right: 10px; /* Position to the right */
    pointer-events: none; /* Prevent click events */
    transform: translateY(-50%); /* Center vertically */
    color: #1c78c4; /* Arrow color */
  }


  .fake-nav {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d70b2;
}
.main{
  width: 100%;
  height:80vh;
  background-color:#F4F4F4
}
.process-bar-wrap {
  padding: 30px 0 0 0;
  
}
.process-bar {
  height: 18px;
  background: #fff;
  border-radius: 100px;
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.process-bar .progress-wrap {
  position: relative;
  margin: 0 12px;
  width: calc(100% - 24px);
  height: 6px;
  border-radius: 100px;
}

.process-bar .progress-wrap .track {
  background: #eaeaea;
  width: 100%;
}

.process-bar .progress-wrap .bar {
  background: #5596e6;
  width: 0;
  transition: width .4s;
}
.process-bar .progress-wrap .bar, .process-bar .progress-wrap .track  {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 100px;
}
.process-bar .progress-wrap .dot.is-current {
  border-color: #3d70b2;
  box-shadow: 0 14px 26px -12px rgba(61, 112, 178, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(61, 112, 178, .2) !important;
}
.process-bar .progress-wrap .dot.is-first {
  left: -19px;
}
 .process-bar .progress-wrap .dot {
  position: absolute;
  top: calc(50% - 19px);
  height: 38px;
  width: 38px;
  background: #fff;
  border-radius: 50%;
  border: 1.4px solid #e8e8e8;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, .06);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.process-bar .progress-wrap .dot.is-second {
  left: calc(25% - 19px);
}

.process-bar .progress-wrap .dot.is-third {
  left: calc(50% - 19px);
}

.process-bar .progress-wrap .dot.is-fourth {
  left: calc(75% - 19px);
}

 .process-bar .progress-wrap .dot.is-fifth {
  right: -19px;
}

.process-bar .progress-wrap .dot.is-active {
  border-color: #5596e6;
  box-shadow: 0 14px 26px -12px rgba(85, 150, 230, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(85, 150, 230, .2) !important;
}



@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
      display: flex;
  }
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
.mt-4 {
  margin-top: 1rem !important;
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

@media screen and (min-width: 769px), print {
  .column.is-4, .column.is-4-tablet {
      flex: none;
      width: 33.33333337%;
  }
}

.column {
  
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  position: absolute;
  left: 34%;
}

.account-type {
  width: 100%;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}

.type-image {
  position: relative;
}

.account-type .type-image .type-illustration {
  position: absolute;
  top: -15%;
  left: 0;
  transform: scale(1.25);
}

.account-type .type-image  img{
  height: auto;
  max-width: 80%;
}

.account-type .type-image .type-bg {
  margin-top: -5%;
}
.dark-image {
  display: none !important;
}
.account-type h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  font-size: 1rem;
  padding: .5rem 0;
}

.account-type p {
  color: #a2a5b9;
  font-size: .9rem;
}


.account-type .button {
  margin-top: 20px;
  border-width: 1.4px;
  min-height: 42px;
  color: #999;
}
.button.is-fullwidth {
    display: flex;
    width: 100%;
}
.button {
  font-size: 15px;
  font-weight: 500;
  padding: 18px 22px;
  border-radius: .65rem;
  transition: all .3s;
}
.button.is-solid.primary-button:valid {
  background: #3d70b2;
  border-color: #3d70b2;
  color: #fff;

}
.button.is-solid.primary-button:valid:hover{
  transform: translateY(-2px);
}
.button.is-solid.primary-button {
  background: #76a4df;
  border-color: #76a4df;
  color: #fff;
}
.button.is-rounded {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.button.is-rounded {
  border-radius: 9999px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
}
.button {
  background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}


p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-size: 1.2rem;
}

.form-panel {
 width: 700px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 30px;
  margin: auto;
}
.field-row {
  display: flex;
  justify-content: space-between;
}
.form-panel .field {
  border: 1px solid #e8e8e8;
  padding: 4px 8px 8px 8px;
  border-radius: 6px;
  background: #fcfcfc;
  margin-bottom: 20px;
  width: 300px;
}
.form-panel .fieldd {
  border: 1px solid #e8e8e8;
  padding: 4px 8px 8px 8px;
  border-radius: 6px;
  background: #fcfcfc;
  margin-bottom: 20px;
}

.field:not(:last-child) {
  margin-bottom: .75rem;
}
.fieldd:not(:last-child){
  margin-bottom: .75rem;
}


.form-panel .field label {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 500;
  color: #757a91;
  padding-left: 8px;
}
.form-panel .fieldd label {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 500;
  color: #757a91;
  padding-left: 8px;
}
.field label {
  font-size: .9rem;
  font-weight: 500;
  color: #393a4f;
}
.form-panel .fieldd .control input {
  border: none;
  height: 30px;
  background: #fcfcfc;
  width: 100%;
}

.input {
  font-size: .9rem;
  height: 36px;
  border-radius: .65rem;
  transition: all .3s;
}
.input, .textarea {
  box-shadow: none !important;
}
.fieldd label {
  font-size: .9rem;
  font-weight: 500;
  color: #393a4f;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}


.form-panel .field  input, .form-panel .field  select{
  border: none;
  height: 40px;
  background: #fcfcfc;
}


.form-panel .field  input, .form-panel .fieldd  select{
  border: none;
  height: 40px;
  background: #fcfcfc;
}

.form-panel .field  input:focus {
  border: none;
  outline: none; /* This line removes the border-like outline on focus */
}
.form-panel .fieldd  input:focus {
  border: none;
  outline: none; /* This line removes the border-like outline on focus */
}

.buttons{
  display: flex;
  justify-content:end ;
  align-items: center;
  
}

.buttons button{
  margin-left: 4px;
  border: none;
  background-color: #1c78c4;
  border-radius: 10px;
  width: 90px;
  padding: 10px;
  color: white;
}
.buttons button:hover{
  transform: translateY(-2px);
  font-weight: bold;
  background-color: #3d70b2;
}
.buttons button:disabled{
  background-color: #76a4df;
}
.buttons button:disabled:hover{
  background-color: #76a4df;
  transform: none;
  font-weight: normal;
}
.form-panel {
  width: 50%;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 30px;
}
.photo-upload .preview {
  position: relative;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.4px solid #cecece;
  margin: 0 auto;
}
.photo-upload .preview .upload-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #cecece;
  transition: all .3s;
}
.photo-upload .preview .upload-button:hover {
  
  background: #23acc4;
  cursor: pointer;
 
}
.photo-upload .preview .upload-button svg {
  height: 14px;
  width: 14px;
  stroke: #fff;
  stroke-width: 3px;
}

.photo-upload .preview img {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.photo-upload .limitation {
  margin-top: 20px;
  text-align: center;
}

.spinner-container {
  position: absolute;
  right: 50%; /* Adjust this value based on your design */
  top: 0;

  display: flex;
  align-items: center;
}


.form-panel .success-image {
  display: block;
  max-width: 120px;
  margin: 0 auto;
}

.form-panel .success-text {
  text-align: center;
  margin: 12px auto;
  max-width: 370px;
}

.form-panel .success-text h4 {

  color: #393a4f;
  font-size: 1.2rem;
}

.form-panel .success-text p {
  font-size: .9rem;
  color: #999;
}

.form-panel .success-text .button {
  margin: 20px auto 0 auto;
  max-width: 280px;
  border: 1.4px solid #5596e6;
  color: #5596e6;
}
.button.is-fullwidth {
  display: flex;
  width: 100%;
}
.button {
  font-size: .8rem;
  font-weight: 500;
  padding: 18px 22px;
  border-radius: .65rem;
  transition: all .3s;
}
a {
  color: #3f88e3;
  transition: all .3s;
}
a {
  color: #039be5;
  cursor: pointer;
  text-decoration: none;
}

 .form-panel .success-text .button:hover {
  border: 1.4px solid #fff;
  color: #fff;
  background-color: #1c78c4;
}

