<!-- 

<div class="row">
  <div class="col-md-6 order-md-2 mr-4">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Create An Account</h3>
        <p style="font-size: 18px; " class="text-primary mt-1 ">Find Your Soulmate Now By Registering with us !</p>
      </div>
      <div class="card-body">
        <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group gender ">
                <label for="gender" class="form-label">I'am :</label>
                <div class="radios">
                  <label class="form-check-label mr-3 ">
                    <input type="radio" formControlName="gender" value="male" class="form-check-input" name="gend"> <span>Male</span>
                  </label>
                  <label class="form-check-label">
                    <input type="radio" formControlName="gender" value="female" class="form-check-input"  name="gend"> <span>Female</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">

            </div>
            
          </div>
      
          <div class="row">
             <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="fullName" [ngClass]="{ 'is-valid': fullName.valid && fullName.touched }">
                <span *ngIf="fullName.hasError('minlength') && (fullName.touched || userSubmitted)" class="invalid-feedback">Name must be at least 5 characters long</span>
              </div>
            </div>
         
            <div class="col-md-6">
              <div class="form-group">
                <label for="knownAs" class="form-label">Known As</label>
                <input type="text" class="form-control" formControlName="knownAs"  [ngClass]="{ 'is-valid': knownAs.valid && knownAs.touched }">
                <span *ngIf="!knownAs.valid && (knownAs.touched || knownAs)" class="invalid-feedback">
                  <span *ngIf="knownAs.hasError('required')">Please provide knownAs</span>
                  </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label for="dateOfBirth" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" formControlName="dateOfBirth"  [ngClass]="{ 'is-valid': dateOfBirth.valid && dateOfBirth.touched }">
                <span *ngIf="!dateOfBirth.valid && (dateOfBirth.touched || dateOfBirth)" class="invalid-feedback">
                  <span *ngIf="dateOfBirth.hasError('required')">Please provide dateOfBirth</span>
                  </span>
              </div>
    
            </div>

          
              <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-valid': email.valid && email.touched }">
                <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="invalid-feedback">
                  <span *ngIf="email.hasError('required')">Please provide email id</span>
                  <span *ngIf="email.hasError('email')">Please provide valid email id</span>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group col-12">
                <label for="country" class="form-label">Country</label>
                <div class="select-container">
                  <select class="form-control" formControlName="country" [ngClass]="{'is-invalid': !registerationForm.controls['country'].valid && (registerationForm.controls['country'].touched || userSubmitted) }">
                    <option value="">Select a country</option>
                    <option *ngFor="let country of countries" [value]="country.iso2">{{ country.name }}</option>
                  </select>
                </div>
                <span *ngIf="!registerationForm.controls['country'].valid && (registerationForm.controls['country'].touched || userSubmitted)" class="invalid-feedback">
                  <span *ngIf="registerationForm.controls['country'].hasError('required')">Please provide country</span>
                </span>
              </div>
            </div>
            
            <div class="col-md-6">
    <div class="form-group col-12">
      <label for="city" class="form-label">City</label>
      <div class="select-container">
        <select class="form-control" formControlName="city" [ngClass]="{ 'is-valid': city.valid && city.touched }">
          <option value="">Select a city</option>
          <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
        </select>
      </div>
   
      <span *ngIf="!city.valid && (city.touched || city)" class="invalid-feedback">
        <span *ngIf="city.hasError('required')">Please provide city</span>
      </span>
    </div>
  </div>
          
          </div>

          <div class="row">

             <div class="col-md-6">
              <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-valid': password.valid && password.touched }">
                <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="invalid-feedback">
                  <span *ngIf="password.hasError('required')">Please provide password</span>
                  <span *ngIf="password.hasError('pattern')">Password should be at least 8 characters long and contain letters, numbers, and at least one of $#</span>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{
                    'is-invalid': confirmPassword.touched && registerationForm.hasError('mismatch'),
                    'is-valid': confirmPassword.valid && registerationForm.hasError('mismatch') !== true
                 }">
                <div *ngIf="confirmPassword.touched && registerationForm.hasError('mismatch')" class="invalid-feedback">Passwords do not match</div>
              </div>
            </div>
          </div>
         
          <div class="form-group mt-1 spann">
            <button type="submit" class="btn btn-primary mr-3" [disabled]="!registerationForm.valid">Create Account</button>
            <div >Already Have An Account ? <a routerLink="/login" class="text-primary">Sign In</a></div> 
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 order-md-1 mt-n2 bg-image-section"></div>
</div>
 -->


 <div class="fake-nav">
  <a href="/" class="logo">
      <img src="../../../assets/friendkit-white.svg" width="112" height="28" alt="">
  </a>
</div>
<div class="main">
  <div class="process-bar-wrap">
    <div class="process-bar">
        <div class="progress-wrap">
            <div class="track"></div>
            <div class="bar" [style.width.%]="currentStep"></div>
            <div id="step-dot-1" class="dot is-first" [class.is-active]="currentStep >= 0" (click)="setStep(0)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                  <line x1="9" y1="9" x2="9.01" y2="9"></line>
                  <line x1="15" y1="9" x2="15.01" y2="9"></line>
                </svg>
            </div>
            <div id="step-dot-2" class="dot is-second" [class.is-active]="currentStep >= 25" (click)="setStep(25)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>
            <div id="step-dot-3" class="dot is-third" [class.is-active]="currentStep >= 50" (click)="setStep(50)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                  <circle cx="8.5" cy="8.5" r="1.5"></circle>
                  <polyline points="21 15 16 10 5 21"></polyline>
                </svg>
            </div>
            <div id="step-dot-4" class="dot is-fourth" [class.is-active]="currentStep >= 75" (click)="setStep(75)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                  <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                </svg>
            </div>
            <div id="step-dot-5" class="dot is-fifth" [class.is-active]="currentStep >= 100" (click)="setStep(100)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                  <line x1="4" y1="22" x2="4" y2="15"></line>
                </svg>
            </div>
        </div>
    </div>
  </div>
  
  <div class="panel text-center mt-4" *ngIf="currentPanel === 0" >
    <p>Find Your soulmate Now By Registering with Connectopia</p>
    
    <!-- <div class="columns mt-4 text-center"> -->
      <div class="column is-4">
          <div class="account-type">
              <div class="type-image">
                  <img class="type-illustration" src="../../../assets/account.svg" alt="">
                  <img class="type-bg light-image" src="../../../assets/account2.svg" alt="">
                  <img class="type-bg dark-image" src="../../../assets/account3.svg" alt="">
              </div>
              <h3>Personal</h3>
              <p>
                  Create a Personal account to be able to do some awesome things.
              </p>
              <button class="button is-solid primary-button raised is-rounded is-fullwidth" data-step="step-dot-2">
                  Continue
              </button>
          </div>
      </div>
      <!-- <div class="column is-4">
         
      </div>
      <div class="column is-4">
       
      </div> -->
  <!-- </div> -->
   
  </div>
  <div class="panel" *ngIf="currentPanel === 1" >
  2
  </div>
  <div class="panel" *ngIf="currentPanel === 2" >
  3
  </div>
  <div class="panel" *ngIf="currentPanel === 3" >
  4
  </div>
  <div class="panel" *ngIf="currentPanel === 4" >
   5
  </div>
  
</div>
